---
import { Image } from "astro:assets";
import ThemeToggleButton from "../components/ThemeToggleButton";
import Icon from "./Icon.astro";
import { userPreferences } from "@/hooks/userPreferences.ts";

const test = userPreferences.get()["dark-web-theme"];
---

<nav
  class={(test ? "bg-black" : "bg-white") +
    " bg- text-secondary p-5 flex sticky w-full items-center justify-between shadow-2xl z-50 top-0"}
>
  <Icon size="3rem" />
  <div class="flex gap-6">
    <span><a href="/Algorithms">Algorithms</a></span>
    <span><a href="/Projects">Projects</a></span>
    <span><a href="/Problem-solving">Problem solving</a></span>
    <span><a href="/Blog">Blog</a></span>
    <span><a href="/About-me">About me</a></span>
  </div>
  <p>{test}</p>
  <ThemeToggleButton client:load />
</nav>
